<div id="scanner-ui" text-center>
  <ion-button (click)="toggleScanner('close')" color="highlight">Close Scanner</ion-button>
</div>
<ion-toolbar *ngIf="!completed && vars.userMeta.is_merchant">
  <ion-buttons slot="start">
    <ion-button (click)="cancel()" color="medium">
        <ion-icon name="ios-arrow-round-back" slot="start"></ion-icon>Back
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<section class="info" *ngIf="!completed" padding-bottom>
  <ion-list lines="none">
    <ion-item *ngIf="!amountDue && !code" text-center>
      <ion-input class="code" text-center type="text" [(ngModel)]="precode" (ionChange)="lookup()" placeholder="Enter Code" [disabled]="loading"></ion-input>
      <ion-buttons color="clear">
        <ion-button (click)="qrLookup()" [disabled]="loading" class="qricon" *ngIf="!completed && !code">
          <img *ngIf="!loading" src="assets/qr.png">
          <ion-spinner *ngIf="loading" color="highlight"></ion-spinner>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item class="details" *ngIf="code">
      <ion-label [class.amountDue]="amountDue">
        <div class="amount">{{amount | currency}}</div>
        <ion-text class="dba" color="medium">{{merchant.dba}}</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</section>
<ion-list *ngIf="code && !completed" lines="none">
  <ion-item text-center>
    <ion-button color="primary" fill="solid" (click)="amountDue ? check() : complete()" size="default" [disabled]="running">
      <ion-icon *ngIf="!running" name="checkmark" slot="start"></ion-icon>
      <span *ngIf="!amountDue && !running">Complete</span>
      <span *ngIf="amountDue && !running">Check</span>
      <ion-spinner *ngIf="running" color="hghlight"></ion-spinner>
    </ion-button>
  </ion-item>
</ion-list>
<ion-list *ngIf="completed" lines="none">
  <ion-item text-center>
    <ion-label class="completeMessage" color="primary">
      <ion-icon size="large" name="checkmark-circle-outline"></ion-icon>
      Complete
    </ion-label>
  </ion-item>
  <ion-item text-center margin-top>
    <ion-button (click)="cancel()" size="default" fill="outline" color="primary">
      <ion-icon name="checkmark" slot="start"></ion-icon> Run Another
    </ion-button>
  </ion-item>
</ion-list>