<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Wallet</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="updateLocation = !updateLocation" [color]="updateLocation ? 'highlight' : 'light'">
                <ion-icon slot="icon-only" name="pin"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-md-refresher (doRefresh)="loadWallets()"></ion-md-refresher>
<ion-content>
    <app-searchable-dropdown
        *ngIf="!loading && updateLocation"
        [options]="searchLocations"
        (updateOptions)="updateSearchLocations($event)"
        (selectValue)="setLocation($event)"
        [placeholder]="locPlaceholder"
    ></app-searchable-dropdown>
    <ion-searchbar [(ngModel)]="searchDBA" (ionChange)="filterList(searchDBA)" placeholder="Search DBAs"></ion-searchbar>
    <ion-spinner *ngIf="loading" color="highlight" class="comp-spinner"></ion-spinner>
    <ion-text text-center padding color="medium" *ngIf="!wallets && !loading" class="no-data">No Wallet</ion-text>

    <ion-list no-padding lines="none" *ngIf="!loading && wallets">
        <ion-item color="medium-light">
            <ion-grid>
                <ion-row>
                    <ion-col [size]="vars.userMeta.is_merchant ? '5' : '8'"><strong>Store</strong></ion-col>
                    <ion-col size="4">
                        <strong *ngIf="vars.userMeta.is_merchant">Private</strong>
                        <strong *ngIf="!vars.userMeta.is_merchant" [attr.text-right]="vars.userMeta.is_merchant">Units</strong>
                    </ion-col>
                    <ion-col size="3" *ngIf="vars.userMeta.is_merchant" text-right><strong>Public</strong></ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item *ngFor="let wallet of walletList; let i = index;" [class.oddItem]="i % 2" (click)="editWalletModal(wallet, i, $event)" [class.disabled]="updatingWallet === i">
            <ion-spinner *ngIf="updatingWallet === i" color="highlight"></ion-spinner>
            <ion-grid no-padding>
                <ion-row>
                    <ion-col [size]="vars.userMeta.is_merchant ? '5' : '8'">{{wallet.dba}}</ion-col>
                    <ion-col size="4" [attr.text-right]="vars.userMeta.is_merchant">{{wallet.private_units}}</ion-col>
                    <ion-col size="3" *ngIf="vars.userMeta.is_merchant" text-right>{{wallet.public_units}}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item *ngIf="walletList.length === 0">
            <div *ngIf="wallets.length > 0" text-center padding style="width:100%;">
                <span *ngIf="wallets.length > 0"><i>No matches</i></span>
                <span *ngIf="wallets.length === 0"><i>No wallet for this location</i></span>
            </div>
        </ion-item>
    </ion-list>
    <div text-center padding style="width:100%" *ngIf="message">{{message}}</div>
</ion-content>