<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Wallet</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button slot="start" menu="primary"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-searchable-dropdown
        [options]="searchLocations"
        (updateOptions)="updateSearchLocations($event)"
        (selectValue)="setLocation($event)"
        color="dark"
        [placeholder]="locPlaceholder"
    ></app-searchable-dropdown>
    <ion-spinner *ngIf="loading" color="highlight" class="comp-spinner"></ion-spinner>
    <ion-text text-center padding color="medium" *ngIf="!wallets && !loading" class="no-data">No Wallet</ion-text>

    <ion-list no-padding lines="none" *ngIf="!loading && wallets">
        <ion-item color="medium-light">
            <ion-label><strong>DBA</strong></ion-label>
            <ion-text><strong>Valu</strong></ion-text>
        </ion-item>
        <ion-item *ngFor="let wallet of wallets; let i = index;" [class.oddItem]="i % 2">
            <ion-label>{{wallet.dba}}</ion-label>
            <ion-text>{{wallet.feathers}}</ion-text>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-button size="large" shape="round" color="highlight" (click)="startNewTrade()">
            <ion-icon name="add" slot="start"></ion-icon>
            <ion-label>New</ion-label>
        </ion-button>
    </ion-fab>
</ion-content>