ion-item {
    --ion-item-background-activated: transparent;
    --highlight-background: transparent;

    &.item {
        ion-spinner {
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            z-index:2;
        }
    }
}

ion-grid.disabled {
    color: var(--ion-color-medium);
}

ion-toolbar {
    margin-top: 8px;
    ion-buttons {
        ion-button {
            height: 40px;
            flex-basis: 30%;
        }
    }
}

.splitBadge {
    padding: 2px;
    margin-left: 4px;

    img {
        width: 12px;
        transform: rotate(-90deg);
    }
}