<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-label position="stacked" class="label">Trade Alias (DBA)<span class="required">*</span></ion-label>
      <ion-input [(ngModel)]="dba"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="label">Account Phone</ion-label>
      <ion-input type="tel" [(ngModel)]="accPhone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="label">Website</ion-label>
      <ion-input [(ngModel)]="website"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="label">Industry<span class="required">*</span></ion-label>
      <ion-select [value]="industry.industry_id" (ionChange)="updateIndustry($event.detail.value)" placeholder="Select Industry">
        <ion-select-option *ngFor="let ind of vars.industries" [value]="ind.industry_id">
          {{ind.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!changeLocation">
      <ion-toolbar color="clear">
        <ion-label position="stacked" class="label">Primary Location<span class="required">*</span></ion-label>
      </ion-toolbar>
    </ion-item>
    <ion-item *ngIf="location" class="listToggle">
      <ion-label *ngIf="!changeLocation">{{location.address}} {{location.city}}, {{location.abbr}}</ion-label>
      <ion-buttons slot="end" *ngIf="locations.length > 1 && !changeLocation">
        <ion-button (click)="changeLocation = true">
          <ion-icon name="list" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div *ngIf="changeLocation" style="width:100%;">
        <ion-toolbar>
          <ion-label class="label">Change Location</ion-label>
          <ion-buttons slot="end">
            <ion-button color="clear" (click)="changeLocation = false">
              <ion-icon name="md-close" color="danger" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list lines="full">
          <ion-item *ngFor="let loc of locations; let i = index;" style="--padding-start: 0; --inner-padding-end: 0;">
            <ion-radio [value]="loc.store_id" [checked]="location.store_id === loc.store_id" slot="start"
              (click)="changePrimary(loc)">
            </ion-radio>
            <ion-label>{{loc.address}} {{loc.city}}, {{loc.abbr}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-item>
  </ion-list>
  <div text-center style="width:100%" margin-top margin-bottom>
    <ion-button size="default" shape="round" color="secondary" (click)="updateData()" [disabled]="updating">
      <span *ngIf="!updating">Update</span>
      <ion-spinner color="highlight" *ngIf="updating"></ion-spinner>
    </ion-button>
  </div>
</ion-content>