<ion-toolbar *ngIf="!completed">
  <ion-buttons slot="start">
    <ion-button (click)="cancel()" color="dark">
      <ion-icon name="ios-arrow-round-back" slot="start"></ion-icon>Cancel
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<section class="info" *ngIf="!completed" padding-bottom>
  <ion-list lines="none">
      <ion-item class="amount">
        <ion-input [attr.padding]="!code" text-center type="tel" [(ngModel)]="amount"
          [disabled]="loading || running || code" placeholder="Enter Amount"></ion-input>
      </ion-item>
      <ion-item *ngIf="code" class="code" text-center>
        <ion-label margin>{{code}}</ion-label>
        <ion-button color="highlight" size="small" (click)="showCode = !showCode" [disabled]="running">
          <span *ngIf="!showCode">Show</span>
          <span *ngIf="showCode">Hide</span>
        </ion-button>
      </ion-item>
  </ion-list>
</section>
<ion-list *ngIf="!completed" lines="none" [hidden]="showCode">
  <ion-item *ngIf="!code">
    <ion-button color="primary" size="default" fill="solid" (click)="create()" [disabled]="loading">
      <ion-icon name="md-paper-plane" *ngIf="!loading" slot="start"></ion-icon>
      <span *ngIf="!loading">Create</span>
      <ion-spinner *ngIf="loading" color="highlight"></ion-spinner>
    </ion-button>
  </ion-item>
  <ion-item *ngIf="code && !running">
    <ion-button color="primary"  size="default" fill="solid" (click)="check()">
      <ion-icon name="refresh" slot="start"></ion-icon>Check
    </ion-button>
  </ion-item>
  <ion-item *ngIf="code && !running">
    <ion-button color="primary" size="default" fill="solid" (click)="askComplete()">
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>Complete
    </ion-button>
  </ion-item>
  <ion-item *ngIf="code && running">
    <div style="width:100%;" text-center padding>
      <ion-spinner color="highlight"></ion-spinner>
    </div>
  </ion-item>
</ion-list>
<ion-list *ngIf="!completed && code" lines="none" [hidden]="!showCode">
  <ion-item class="qrCode">
    <qrcode [qrdata]="code" [size]="256" [level]="'M'"></qrcode>
  </ion-item>
</ion-list>
<ion-list *ngIf="completed" lines="none">
  <ion-item text-center>
    <ion-label class="completeMessage" color="primary">
      <ion-icon size="large" name="checkmark-circle-outline"></ion-icon>
      Complete
    </ion-label>
  </ion-item>
  <ion-item text-center margin-top>
    <ion-button (click)="cancel()" size="default" fill="outline" color="primary">
      <ion-icon name="checkmark" slot="start"></ion-icon> Make Another
    </ion-button>
  </ion-item>
</ion-list>