ion-list {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.buttons {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    ion-item {
        --background: transparent;
        --ion-item-background-activated: transparent;
        --highlight-background:transparent;

        &.qrCode {
            qrcode {
                margin: 0 auto;
            }
        }

        &.code {
            margin: 0;
            ion-label {
                font-family: monospace;
                font-size:1.5em;
            }
        }

        ion-input {
            background: var(--ion-color-light);
            border: 1px solid var(--ion-color-light-shade);
            border-radius: 5px;
            --padding-start: 16px;
            --inner-padding-end: 16px;
        }

        ion-button {
            margin: 0 auto;
            --box-shadow: none;
        }
    }
}

.header {
    font-size:1.5em;
    margin-bottom: 16px;
    font-weight: bold;
}

.completeMessage {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    flex-direction: column;

    ion-icon {
        height: 100px;
        width:100px;
    }
}

.spinner {
    height: 4em;
    width: 4em;
}

section.info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}