<ion-card color="primary">
    <ion-card-header color="primary">
        <ion-card-title>Specifics</ion-card-title>
    </ion-card-header>
    <ion-card-content no-padding>
        <div text-center padding *ngIf="!trade || loading">
            <ion-spinner *ngIf="loading"></ion-spinner>
            <span *ngIf="!trade && !loading">Could not retrieve invoice details</span>
        </div>
        <ion-list color="light" *ngIf="trade">
            <ion-item>
                <ion-label>Invoice</ion-label>
                <ion-text text-right *ngIf="referrer === 'inbox'">{{myDetails.valu}}</ion-text>
                <ion-text text-right *ngIf="referrer !== 'inbox'">{{details.valu}}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label>{{trade.tradeData.trade_status}}</ion-label>
                <ion-text text-right>
                    <span *ngIf="trade.tradeData.trade_status === 'Proposed'">{{trade.tradeData.trade_proposed | date:'short'}}</span>
                    <span *ngIf="trade.tradeData.trade_status === 'Initiated'">{{trade.tradeData.trade_proposed | date:'short'}}</span>
                    <span *ngIf="trade.tradeData.trade_status === 'Completed'">{{trade.tradeData.trade_completed | date:'short'}}</span>
                    <span *ngIf="trade.tradeData.trade_status === 'Canceled'">{{trade.tradeData.trade_completed | date:'short'}}</span>
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label>Title</ion-label>
                <ion-text *ngIf="!trade.tradeData.title">No title</ion-text>
                <ion-text *ngIf="trade.tradeData.title">{{trade.tradeData.title}}</ion-text>
            </ion-item>
            <ion-item lines="none">
                <ion-label *ngIf="!trade.tradeData.description">Description</ion-label>
                <ion-text *ngIf="!trade.tradeData.description">No description</ion-text>
                <ion-text *ngIf="trade.tradeData.description">
                    <ion-label style="margin-top:8px; margin-bottom:8px;">Description</ion-label>
                    <div style="font-size:0.9em; max-height:200px; overflow-y:auto;" margin>{{trade.tradeData.description}}</div>
                </ion-text>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>
<ion-card color="light">
    <ion-card-header color="primary">
        <ion-card-title>Merchant</ion-card-title>
    </ion-card-header>
    <ion-card-content no-padding>
        <div text-center padding *ngIf="!trade || loading">
            <ion-spinner *ngIf="loading"></ion-spinner>
            <span *ngIf="!trade && !loading">Could not get partner info</span>
        </div>
        <ion-list color="light" *ngIf="trade">
            <ion-item>
                <ion-label>DBA</ion-label>
                <ion-text>{{details.dba}}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label>Phone</ion-label>
                <ion-text>{{details.phone | tel}}</ion-text>
            </ion-item>
            <ion-item lines="none">
                <ion-label>Email</ion-label>
                <ion-text>{{details.email}}</ion-text>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>