<ion-md-refresher (doRefresh)="loadData()"></ion-md-refresher>
<div *ngIf="boxLoading" padding>
    <ion-spinner color="highlight" class="comp-spinner"></ion-spinner>
</div>
<ion-text text-center padding *ngIf="(!data || !data.length) && !boxLoading" color="medium">
    <div class="no-data">No Gifts</div>
</ion-text>
<ion-list *ngIf="!!data && data.length" lines="none" no-padding>
    <ion-item color="secondary">
        <ion-grid no-padding>
            <ion-row>
                <ion-col [size]="segment === 'archives' ? 4 : 6"><strong>Partner</strong></ion-col>
                <ion-col [size]="segment === 'archives' ? 2 : 3" text-center><strong>Gift</strong></ion-col>
                <ion-col *ngIf="segment !== 'archives'" text-right><strong>Offered</strong></ion-col>
                <ion-col *ngIf="segment === 'archives'" size="3" text-center><strong>Status</strong></ion-col>
                <ion-col *ngIf="segment === 'archives'" text-right><strong>Date</strong></ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-list>
<ion-list lines="none" no-padding *ngIf="data && !boxLoading">
    <ion-item *ngFor="let in of data; let i = index;" (click)="viewTrade(in.trade_id)" [color]="i % 2 ? 'light-alt' : null">
        <ion-grid no-padding>
            <ion-row class="ion-align-items-center">
                <ion-col [size]="segment === 'archives' ? 4 : 6">
                    <span *ngIf="segment !== 'archives'">{{in.dba}}</span>
                    <span *ngIf="segment === 'archives' && in.init_dba !== vars.merchantData.dba">{{in.init_dba}}</span>
                    <span *ngIf="segment === 'archives' && in.init_dba === vars.merchantData.dba">{{in.rec_dba}}</span>
                </ion-col>
                <ion-col [size]="segment === 'archives' ? 2 : 3" class="ion-justify-content-evenly ion-align-items-center" style="display:flex;">
                    <span *ngIf="in.rec_valu">{{in.rec_valu}}</span>
                    <span *ngIf="in.init_valu">{{in.init_valu}}</span>
                </ion-col>
                <ion-col size="3" *ngIf="segment === 'archives'" text-center>{{in.trade_status}}</ion-col>
                <ion-col text-right *ngIf="segment !== 'archives'">{{in.trade_proposed | date:'shortDate'}}</ion-col>
                <ion-col text-right *ngIf="segment === 'archives'">{{in.trade_completed | date:'shortDate'}}</ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-list>