<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tpay</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar color="dark">
    <ion-segment (ionChange)="switchSegment($event)">
      <ion-segment-button value="new" checked>Create</ion-segment-button>
      <ion-segment-button value="history">History</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div *ngIf="segment === 'new'">
    <ion-slides #tpaySlider [options]="sliderOptions">
      <ion-slide *ngIf="vars.userMeta.is_merchant">
        <tpay-start (setType)="setType($event)"></tpay-start>
      </ion-slide>
      <ion-slide>
        <tpay-send *ngIf="type === 'send' && vars.userMeta.is_merchant" (goBack)="slider.slidePrev()"></tpay-send>
        <tpay-complete *ngIf="type === 'complete'" (goBack)="slider.slidePrev()"></tpay-complete>
      </ion-slide>
    </ion-slides>
  </div>
  <div *ngIf="segment === 'history'">
    <tpay-history></tpay-history>
  </div>
</ion-content>