// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #22adff;
  --ion-color-primary-rgb: 34, 173, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1f9be2;
  --ion-color-primary-tint: #40b9ff;

  /** secondary **/
  --ion-color-secondary: #00d1d1;
  --ion-color-secondary-rgb: 0, 209, 209;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #00acac;
  --ion-color-secondary-tint: #38dddd;

  /** highlight **/
  --ion-color-highlight: #1f9be2; //primary-shade
  --ion-color-highlight-rgb: 31, 155, 226;
  --ion-color-highlight-contrast: #ffffff;
  --ion-color-highlight-contrast-rgb: 255, 255, 255;
  --ion-color-highlight-shade: #1a81bd;
  --ion-color-highlight-tint: #25afff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #323232;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #272727;
  --ion-color-dark-tint: #3a3a3a;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** medium-light **/
  --ion-color-medium-light: #dcdcdc;
  --ion-color-medium-light-rgb: 220, 220, 220;
  --ion-color-medium-light-contrast: #222222;
  --ion-color-medium-light-contrast-rgb: 34, 34, 34;
  --ion-color-medium-light-shade: #c4c4c4;
  --ion-color-medium-light-tint: #ffffff;

  /** light **/
  --ion-color-light: #f5f5f5; //#f4f5f8
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #22adff;
  --ion-color-light-contrast-rgb: 34, 173, 255;
  --ion-color-light-shade: #f0f0f0; //#d7d8da
  --ion-color-light-tint: #ffffff; //#f5f6f9

  /** light-alt **/
  --ion-color-light-alt: #f5f5f5; //#f4f5f8
  --ion-color-light-alt-rgb: 244, 244, 244;
  --ion-color-light-alt-contrast: #222222;
  --ion-color-light-alt-contrast-rgb: 34, 34, 34;
  --ion-color-light-alt-shade: #f0f0f0; //#d7d8da
  --ion-color-light-alt-tint: #ffffff; //#f5f6f9
}

.ion-color-highlight {
    --ion-color-base: var(--ion-color-highlight) !important;
    --ion-color-base-rgb: var(--ion-color-highlight-rgb) !important;
    --ion-color-contrast: var(--ion-color-highlight-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-highlight-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-highlight-shade) !important;
    --ion-color-tint: var(--ion-color-highlight-tint) !important;
}

.ion-color-medium-light {
    --ion-color-base: var(--ion-color-medium-light) !important;
    --ion-color-base-rgb: var(--ion-color-medium-light-rgb) !important;
    --ion-color-contrast: var(--ion-color-medium-light-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-medium-light-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-medium-light-shade) !important;
    --ion-color-tint: var(--ion-color-medium-light-tint) !important;
}

.ion-color-light-alt {
    --ion-color-base: var(--ion-color-light-alt) !important;
    --ion-color-base-rgb: var(--ion-color-light-alt-rgb) !important;
    --ion-color-contrast: var(--ion-color-light-alt-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-light-alt-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-light-alt-shade) !important;
    --ion-color-tint: var(--ion-color-light-alt-tint) !important;
}


/* Set text color of the entire app for iOS only */
// .ios {
//     --ion-text-color: #000;
// }

/* Set text color of the entire app for Material Design only */
// .md {
//     --ion-text-color: #222;
// }