
ion-content{
    --background: #fff;
}

ion-list {
    background:transparent;
}
ion-grid {
    flex-basis:100%;

    #tagline {
        text-align: right;
    }
}

ion-text {
    font-size:25px;
    color: #222;
    font-family: 'Helvetica', sans-serif;
}

app-login {
    width:100%;
}

ion-item {
    --ion-background-color: transparent;
    --ion-item-background-activated: transparent;
    --highlight-background:transparent;

    &.header {
        margin-bottom:1em;
    }
}

img {
    max-height: 130px;
    padding: 16px;
}

ion-input {
    text-align: center;
}