ion-list {
    background:transparent;

    ion-item:first-child {
        background-color: var(--ion-color-primary);
        border-bottom: 1px solid var(--ion-color-light-shade);
    }
}

app-login {
    width:100%;
}

ion-item {
    --ion-background-color: transparent;
    --ion-item-background-activated: transparent;
    --highlight-background:transparent;
}

img {
    max-width: 200px;
    padding: 16px;
    margin: 0 auto;
}

ion-input {
    text-align: center;
}