<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Store Locations</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title margin>Addresses</ion-title>
  <ion-list no-padding margin-bottom class="addresses">
    <ion-item *ngFor="let loc of locations; let i = index;" [lines]="i + 1 === locations.length ? 'none' : 'full'">
      <ion-label>{{loc.address}} {{loc.city}}, {{loc.abbr}}</ion-label>
      <ion-icon slot="end" color="danger" name="remove-circle" (click)="deletePrompt(i)" *ngIf="locations.length > 1">
      </ion-icon>
    </ion-item>
  </ion-list>
  <ion-card class="addLocation" margin-top>
    <ion-card-header color="secondary">
      <ion-card-title>Add Location</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <app-searchable-dropdown [options]="searchLocations" debounce="300" placeholder="Select City" color="light-alt"
          (updateOptions)="updateSearchLocations($event)" (selectValue)="setLocation($event)">
        </app-searchable-dropdown>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input [(ngModel)]="newLocation.address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Zip Code</ion-label>
          <ion-input [(ngModel)]="newLocation.zipcode" type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="label">Store Phone</ion-label>
          <ion-input [(ngModel)]="newLocation.phone" type="tel"></ion-input>
        </ion-item>
        <ion-button (click)="createLocation()" color="highlight" [disabled]="updating" margin-top>Create</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>