<ion-app>
    <ion-tabs>
        <ion-tab-bar slot="bottom" *ngIf="currentRoute !== '/login' && currentRoute !== '/'" color="secondary">
            <ion-tab-button tab="barter">
                <ion-icon [color]="currentRoute === '/barter' ? 'highlight' : 'light'" name="swap"></ion-icon>
                <ion-label>Barter</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="tpay">
                <ion-icon [color]="currentRoute === '/tpay' ? 'highlight' : 'light'" name="md-business"></ion-icon>
                <ion-label>TPay</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="wallet">
                <ion-icon [color]="currentRoute === '/wallet' ? 'highlight' : 'light'" name="md-wallet"></ion-icon>
                <ion-label>Wallet</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="login">
                <ion-icon name="ios-log-out"></ion-icon>
                <ion-label>Logout</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-app>