// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

body {
    background: var(--ion-color-light);
}

ion-content {
    --background: var(--ion-color-light);
}

ion-menu {
    ion-list.list {
        background: transparent;
    }
}

ion-input .text-input-ios, ion-select .text-input-ios, ion-textarea .text-input-ios {
    padding-left:0;
}

ion-item {
    --ion-item-background-activated: transparent;
    --highlight-background:transparent;
}

.searchbar-input {
    &.sc-ion-searchbar-md, &.sc-ion-search-ios {
         box-shadow:none;
     }
 }

 #scanner-ui {
     display: none;
 }

 html.scanner-open {
    ion-app, ion-content {
        height: 70px !important;
    }

    ion-content {
        --background: transparent;
    }

    ion-header,
    ion-footer,
    ion-tab-bar,
    ion-toolbar,
    section.info,
    tpay-complete > *:not(#scanner-ui) {
        display: none;
    }

    #scanner-ui {
        display: block;
    }
 }