// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

body {
    background: var(--ion-color-light);
}
#main-menu {
    background: var(--ion-color-light);
    
    ion-item {
        --background: transparent;

        &:first-child {
            background: linear-gradient(to top right, var(--ion-color-primary), var(--ion-color-secondary));
            border-bottom: 1px solid var(--ion-color-light-shade);
            
            img {
                max-width:150px;
                margin: 0 auto;
            }
        }
    }
}

ion-content {
    --background: var(--ion-color-light);
}

ion-menu {
    ion-list.list {
        background: transparent;
    }
}

ion-input .text-input-ios, ion-select .text-input-ios, ion-textarea .text-input-ios {
    padding-left:0;
}

ion-item {
    --ion-item-background-activated: transparent;
    --highlight-background:transparent;
}

.searchbar-input {
    &.sc-ion-searchbar-md, &.sc-ion-search-ios {
         box-shadow:none;
     }
 }