// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

body {
    background: var(--ion-color-light);
}
#main-menu {
    background: var(--ion-color-light);
    
    ion-item {
        --background: transparent;

        &:first-child {
            background: linear-gradient(to top right, var(--ion-color-primary), var(--ion-color-secondary));
            border-bottom: 1px solid var(--ion-color-light-shade);
            
            img {
                max-width:150px;
                margin: 0 auto;
            }
        }
    }
}