<form (submit)="doLogin()" text-center>
    <ion-slides #slider pager="false" [options]="sliderOptions">
        <ion-slide>
            <ion-list lines="none" style="width:100%; max-width:450px;">
                <ion-item>
                    <ion-button size="large" expand="block" shape="round" color="primary" fill="solid" (click)="slider.slideNext()">Login</ion-button>
                </ion-item>
                <ion-item>
                    <ion-button size="large" expand="block" shape="round" color="dark" fill="solid" (click)="registerModal()" [attr.disabled]="isLoading">Sign Up</ion-button>
                </ion-item>
            </ion-list>
        </ion-slide>
        <ion-slide style="flex-direction: column">
            <ion-list lines="none" style="width:100%; max-width:450px;">
                <ion-item margin-bottom>
                    <ion-input type="email" color="dark" [(ngModel)]="account.email" name="email" placeholder="Email"></ion-input>
                </ion-item>
                <ion-item margin-bottom>
                    <ion-input type="password" color="dark" [(ngModel)]="account.password" name="password" placeholder="Password"></ion-input>
                </ion-item>
                <ion-item margin-top>
                    <ion-button color="primary" margin-top margin-bottom fill="solid" shape="round" size="large" expand="block" type="submit" [attr.disabled]="isLoading">
                        <span *ngIf="!isLoading">Login</span>
                        <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
                    </ion-button>
                </ion-item>
                <ion-item>
                    <ion-button size="large" margin-bottom (click)="forgotPassword()" expand="block" shape="round" color="dark" fill="solid" [attr.disabled]="isLoading">Reset Password</ion-button>
                </ion-item>
            </ion-list>
            <ion-text *ngIf="message" id="message" color="danger">{{message}}</ion-text>
        </ion-slide>
    </ion-slides>
</form>