ion-item {

    --ion-item-background-activated: transparent;
    --highlight-background:transparent;

    &.header {
        --ion-background-color: #fff;
        margin-bottom:1em;
        
        img {
            margin:1em 0;
        }
    }

    ion-button {
        --box-shadow:none;
        --border-width:1px;
        font-weight:normal;
        width:100%;
    }

}

ion-input {
    text-align: center;
}

ion-input.sc-ion-input-md-h, ion-input.sc-ion-input-ios-h, ion-select, ion-textarea {
    border-bottom: 1px solid;
    //--background: linear-gradient(#fafafa,#fff,#fafafa);
    font-size: 1.2em;
    padding: 0 1em;

    .text-input-ios {
        padding-left:0.5em;
        margin:0.8em 0;
    }
}