<ion-header>
    <ion-toolbar color="light">
        <ion-title>Trade Hub</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-toolbar color="highlight">
        <ion-segment (ionChange)="switchSegment($event)">
            <ion-segment-button value="inbox" checked><ion-label>Inbox</ion-label></ion-segment-button>
            <ion-segment-button value="outbox"><ion-label>Outbox</ion-label></ion-segment-button>
            <ion-segment-button value="archive"><ion-label>Archive</ion-label></ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <!-- Type Menu -->
    <ion-toolbar color="clear">
        <ion-buttons slot="end">
            <ion-button (click)="loadTypeMenu()" color="light">
                <ion-icon slot="start" name="list"></ion-icon>Type
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-card *ngIf="isLoading" color="light-alt">
        <ion-card-content text-center><ion-spinner margin></ion-spinner></ion-card-content>
    </ion-card>

    <div *ngIf="!isLoading">
        <!-- Incoming -->
        <div *ngIf="segment === 'inbox'">
            <seg-trades *ngIf="inboxType === 'Trade'" [trades]="inbox.trades" segment="inbox" [loading]="tradeLoading" (update)="updateSegment($event)"></seg-trades>
            <seg-invoices *ngIf="inboxType === 'Invoice'" [invoices]="inbox.invoices" segment="inbox" [loading]="invoiceLoading" (update)="updateSegment($event)"></seg-invoices>
            <seg-gifts *ngIf="inboxType === 'Gift'" [gifts]="inbox.gifts" segment="inbox" [loading]="giftLoading" (update)="updateSegment($event)"></seg-gifts>
        </div>

        <!-- Outgoing -->
        <div *ngIf="segment === 'outbox'">
            <seg-trades *ngIf="outboxType === 'Trade'" [trades]="outbox.trades" segment="outbox" [loading]="tradeLoading" (update)="updateSegment($event)"></seg-trades>
            <seg-invoices *ngIf="outboxType === 'Invoice'" [invoices]="outbox.invoices" segment="outbox" [loading]="invoiceLoading" (update)="updateSegment($event)"></seg-invoices>
            <seg-gifts *ngIf="outboxType === 'Gift'" [gifts]="outbox.gifts" segment="outbox" [loading]="giftLoading" (update)="updateSegment($event)"></seg-gifts>
        </div>

        <!-- Archive -->
        <div *ngIf="segment === 'archive'">
            <seg-trades *ngIf="archiveType === 'Trade'" [trades]="archive.trades" segment="archive" [loading]="tradeLoading" (update)="updateSegment($event)"></seg-trades>
            <seg-invoices *ngIf="archiveType === 'Invoice'" [invoices]="archive.invoices" segment="archive"[loading]="invoiceLoading" (update)="updateSegment($event)"></seg-invoices>
            <seg-gifts *ngIf="archiveType === 'Gift'" [gifts]="archive.gifts" segment="archive" [loading]="giftLoading" (update)="updateSegment($event)"></seg-gifts>
        </div>
    </div>

    <!--Start New Trade-->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-button size="large" shape="round" color="light" (click)="startNewTrade()">
            <ion-icon name="add" slot="start"></ion-icon>
            <ion-label>Create</ion-label>
        </ion-button>
    </ion-fab>
</ion-content>