<ion-header>
    <ion-toolbar color="primary">
        <ion-title *ngIf="!tradeId">
            <span *ngIf="tradeType === 'Gift'">Send a Gift</span>
            <span *ngIf="tradeType === 'Trade'">Start a Trade</span>
            <span *ngIf="tradeType === 'Invoice'">Send an Invoice</span>
        </ion-title>
        <ion-title *ngIf="tradeId">Add Valu</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header no-padding>
            <ion-toolbar color="secondary">
                <ion-title>Partner</ion-title>
                <ion-buttons slot="end">
                    <ion-button color="light" (click)="showLocationSearch = !showLocationSearch">
                        <ion-icon name="pin" slot="start"></ion-icon>{{location.city}}, {{location.abbr}}
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-card-header>
        <ion-card-content no-padding>
            <app-searchable-dropdown
                *ngIf="vars.locations && showLocationSearch"
                [options]="searchLocations"
                debounce="300"
                color="light-alt"
                placeholder="Search Cities"
                (updateOptions)="updateSearchLocations($event)"
                (selectValue)="setLocation($event)"
            ></app-searchable-dropdown>
            <div text-center padding *ngIf="location && !merchants"><ion-spinner color="highlight"></ion-spinner></div>
            <app-searchable-dropdown
                *ngIf="location && merchants"
                [attr.value]="merchant ? merchant.dba : ''"
                [options]="searchMerchants"
                debounce="300"
                color="light-alt"
                placeholder="Choose Partner"
                (updateOptions)="updateMerchants($event)"
                (selectValue)="setMerchant($event)"
            ></app-searchable-dropdown>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header no-padding>
            <ion-toolbar color="secondary">
                <ion-title>
                    <span *ngIf="tradeType === 'Invoice'">Your Bill</span>
                    <span *ngIf="tradeType !== 'Invoice'">Your {{tradeType}}</span>
                </ion-title>
                <ion-buttons slot="end">
                    <ion-button color="light" size="small" (click)="showMyLocationSearch = !showMyLocationSearch">
                        <ion-icon name="pin" slot="start"></ion-icon>{{myLocation.city}}, {{myLocation.abbr}}
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-card-header>
        <ion-card-content no-padding>
            <ion-list *ngIf="tradeType === 'Invoice'" lines="none">
                <ion-item>
                    <ion-label position="stacked"><strong>Amount</strong></ion-label>
                    <ion-input [(ngModel)]="amount" type="tel" min="0" size="5"></ion-input>
                </ion-item>
            </ion-list>
            <app-searchable-dropdown
                *ngIf="vars.locations && showMyLocationSearch"
                [options]="mySearchLocations"
                debounce="300"
                color="light-alt"
                placeholder="Search Cities"
                (updateOptions)="updateSearchLocations($event, 'my')"
                (selectValue)="setLocation($event, 'my')"
            ></app-searchable-dropdown>
            <app-wallet
                *ngIf="tradeType !== 'Invoice' && wallets"
                [attr.value]="wallet ? wallet.dba : ''"
                [wallets]="wallets"
                (update)="updateWallet($event, 'my')"
            ></app-wallet>
            <div text-center padding *ngIf="!wallets"><ion-spinner color="highlight"></ion-spinner></div>
            <app-description
                [title]="title"
                [description]="description"
                (update)="updateDescription($event)"
            ></app-description>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar color="primary">
        <ion-buttons>
            <ion-button *ngIf="!tradeId && tradeType === 'Trade'" (click)="createTrade()">
                Create Trade
            </ion-button>
            <ion-button *ngIf="!tradeId && tradeType === 'Invoice'" (click)="sendInvoice()">
                Send Invoice
            </ion-button>
            <ion-button *ngIf="!tradeId && tradeType === 'Gift'" (click)="sendGift()">
                Send Gift
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>