<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Add New Trade</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="close" slot="icon-only" (click)="modalCtrl.dismiss()"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar 
        [(ngModel)]="locationSearch"
        (ionChange)="filterLocations()"
        debounce="300"
        color="secondary"
        placeholder="Search Locations">
    </ion-searchbar>
    <ion-list *ngIf="searchLocations && searchLocations.length > 0">
        <ion-item *ngFor="let loc of searchLocations" (click)="setLocation(loc)">
            <ion-label>{{loc.city}}, {{loc.abbr}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-select (ionChange)="loadWallets($event)" placeholder="Select Merchant">
        <ion-select-option *ngFor="let merch of merchants" [value]="merch">{{merch.dba}}</ion-select-option>
    </ion-select>
    <ion-select [disabled]="!merchant" *ngIf="wallets" (ionChange)="wallet = $event.detail.value" placholder="Select Wallet">
        <ion-select-option value="0">{{merchant.dba}}</ion-select-option>
        <ion-select-option *ngFor="let wal of wallets" [value]="wal">{{wal.dba}}</ion-select-option>
    </ion-select>
    <ion-input
        *ngIf="wallet"
        type="tel"
        min="1"
        [max]="wallet.feathers"
        size="5"
        [placeholder]="wallet.feathers > 20 ? 'e.g. 20' : 'e.g '+wallet.feathers"
        [(ngModel)]="amount">
    </ion-input>
    <ion-icon name="arrow-forward" margin color="secondary"></ion-icon>
    <ion-searchbar
        [(ngModel)]="myLocationSearch"
        (ionChange)="filterLocations('my')"
        debounce="300"
        color="secondary"
        placeholder="Search Locations">
    </ion-searchbar>
    <ion-list *ngIf="mySearchLocations && mySearchLocations.length > 0">
        <ion-item *ngFor="let loc of mySearchLocations" (click)="setLocation(loc, 'my')">
            <ion-label>{{loc.city}}, {{loc.abbr}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-select *ngIf="myWallets" (ionChange)="myWallet = $event.detail.value" placeholder="Select My Wallet">
        <ion-select-option value="0" selected>My Valu</ion-select-option>
        <ion-select-option *ngFor="let wallet of myWallets" [value]="wallet">{{wallet.dba}}</ion-select-option>
    </ion-select>
    <ion-input
        *ngIf="myWallet"
        type="tel"
        min="1"
        size="5"
        [max]="myWallet.feathers ? (myWallet.feathers > 20 ? '20' : myWallet.feathers) : null"
        [placeholder]="myWallet.feathers ? (myWallet.feathers > 20 ? 'e.g. 20' : 'e.g ' + myWallet.feathers) : 'e.g. 50'"
        [(ngModel)]="myAmmount">
    </ion-input>
    <ion-fab vertical="bottom" horizonal="end" slot="fixed">
        <ion-button shape="round" color="secondary" size="large" [disabled]="checkTrade()" (click)="createTrade()">
            <ion-icon slot="start" name="add"></ion-icon><ion-label>Start</ion-label>
        </ion-button>
    </ion-fab>
</ion-content>
