<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit Wallet</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="updateWallet()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-spinner *ngIf="loading" color="highlight" class="comp-spinner"></ion-spinner>
  <ion-list *ngIf="!loading">
    <ion-item lines="none" class="privateCount">
      <ion-label><strong>Private Bank</strong></ion-label>
      <ion-input *ngIf="vendorId === vars.userMeta.user_id" slot="end" [(ngModel)]="privateCount" min="0"
        (ionChange)="updateTotalCount()" text-right></ion-input>
      <ion-text *ngIf="vendorId !== vars.userMeta.user_id" slot="end"
        [color]="privateCount < 0 ? 'danger' : 'dark'" text-right>{{privateCount}}
      </ion-text>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="!loading" class="packages">
    <ion-toolbar color="primary">
      <ion-title>Packages</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="toggleEdit()" color="highlight">
          <ion-icon name="md-create" *ngIf="!editable && newWallet && newWallet.length > 0"></ion-icon>
          <ion-icon name="md-checkmark" *ngIf="editable"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-card-content no-padding>
      <ion-list no-padding lines="none">
        <ion-item color="secondary">
          <ion-grid>
            <ion-row>
              <ion-col><strong>Total</strong></ion-col>
              <ion-col><strong>Price</strong></ion-col>
              <ion-col><strong>Sale Price</strong></ion-col>
              <ion-col size="1" *ngIf="editable"></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-list class="packageList" no-padding *ngIf="newWallet">
        <ion-item *ngFor="let item of newWallet; let i = index;" [color]="i%2 && !editable ? 'light-alt' : null">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-input [value]="item.units" (ionChange)="updatePublicCount($event.detail.value, i)"
                  *ngIf="editable"></ion-input>
                <ion-text *ngIf="!editable">{{item.units}}</ion-text>
              </ion-col>
              <ion-col>
                <ion-input [value]="item._regular_price" (ionChange)="updatePrice($event.detail.value, i)"
                  *ngIf="editable">
                </ion-input>
                <ion-text *ngIf="!editable">{{item._regular_price | currency}}</ion-text>
              </ion-col>
              <ion-col>
                <ion-input [value]="item._sale_price" (ionChange)="updatePrice($event.detail.value, i, 'sale')"
                  *ngIf="editable">
                </ion-input>
                <ion-text *ngIf="!editable">{{item._sale_price | currency}}</ion-text>
              </ion-col>
              <ion-col size="1" class="deleteIcon" *ngIf="editable">
                <ion-icon name="remove-circle" color="danger" (click)="deleteItem(i)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="createPackage" class="new" class="createPackage">
        <ion-item lines="none">
          <ion-label><strong>Add a Deal</strong></ion-label>
          <ion-icon name="close" slot="end" color="danger" (click)="createPackage = false"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Amount</ion-label>
          <ion-text text-right slot="end">
            <ion-input [(ngModel)]="newAmount"></ion-input>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Regular Price</ion-label>
          <ion-text text-right slot="end">
            <ion-input [(ngModel)]="newPrice"></ion-input>
          </ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Sale Price</ion-label>
          <ion-text text-right slot="end">
            <ion-input [(ngModel)]="newSalePrice"></ion-input>
          </ion-text>
        </ion-item>
        <ion-item lines="none">
          <div text-right style="width:100%">
            <ion-button (click)="createPublicUnits()" color="highlight" size="default">
              <ion-icon name="add" slot="start"></ion-icon>Add
            </ion-button>
          </div>
        </ion-item>
      </ion-list>
      <ion-list lines="none">
      <ion-item *ngIf="!createPackage">
        <div text-right style="width: 100%">
          <ion-button color="highlight" (click)="createPackage = true" class="createButton" size="default">
            <ion-icon name="add" slot="start"></ion-icon>Add
          </ion-button>
        </div>
      </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>