<ion-list lines="none">
  <ion-item>
    <ion-label class="header">What do you want to do?</ion-label>
  </ion-item>
  <ion-item>
    <ion-button (click)="nextSlide('send')" size="large" expand="block" fill="outline" color="secondary" shape="round">
      <ion-icon name="ios-send" slot="start"></ion-icon> Send a Tpay
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="nextSlide('complete')" size="large" expand="block" fill="outline" color="secondary" shape="round">
      <ion-icon name="checkmark" slot="start"></ion-icon> Complete a Tpay
    </ion-button>
  </ion-item>
</ion-list>
