// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.spinning {
    animation: rotation 1s infinite ease-in-out;
}

@keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
/* --------------------
Utility Classes
-------------------- */

//Margin
.mt-1   {margin-top: 1em;}
.mt-0   {margin-top: 0;}

.mb-05  {margin-bottom:0.5em;}

.m-05    {margin:0.5em;}
.m-1    {margin: 1em;}

//Padding
.pt-14  {padding-top: 1.4em;}
.pb-14  {padding-bottom: 1.4em;}
.pb-1   {padding-bottom:1em;}
.pt-1   {padding-top:1em;}

//Border Radius
.br-025 {border-radius: 0.25em;}
.br-05  {border-radius:0.5em;}
.br-1   {border-radius:1em;}

//Font sizes
.fs-09 {font-size:0.9em;}
.fs-13 {font-size:1.3em;}

//Text Alignment
.text-left { text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

//Text Transformations
.bold {font-weight:bold;}
.italic {font-style:italic;}
.underline {text-decoration: underline;}

//Other Text Changes
.white {color: #fff;}

.item-input {
    font-size:1em;
    ::placeholder {
        font-size:1em;
    }
}

ion-content {
    --background: var(--ion-color-light);
}

ion-menu {
    ion-list.list {
        background: transparent;
    }
}

ion-header {
    ion-toolbar.ion-color {
        transition: --ion-color-base 0.3s;
        //border-bottom: 2px solid var(--ion-color-contrast);
    }

    &.header-md:after {
        display:none;
    }
}

// ion-button, ion-menu-button {
//     --text-shadow:1px 1px 2px rgba(0,0,0,0.2);
//     --transition: all 0.2s;
// }

ion-item {
    // --ion-item-background-activated: transparent;
    // --highlight-background:transparent;

    &.oddItem {
        --background: #e8eaf3;
    }
}

.searchbar-input {
   &.sc-ion-searchbar-md, &.sc-ion-search-ios {
        box-shadow:none;
    }
}

ion-input .text-input-ios, ion-select .text-input-ios, ion-textarea .text-input-ios {
    padding-left:0;
}

.no-data {
    opacity: 0.5;
    font-size:5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comp-spinner {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    height:15vh;
    width:15vh;
}