// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.spinning {
    animation: rotation 1s infinite ease-in-out;
}

@keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
/* --------------------
Utility Classes
-------------------- */

//Margin
.mt-1   {margin-top: 1em;}
.mt-0   {margin-top: 0;}

.mb-05  {margin-bottom:0.5em;}

.m-05    {margin:0.5em;}
.m-1    {margin: 1em;}

//Padding
.pt-14  {padding-top: 1.4em;}
.pb-14  {padding-bottom: 1.4em;}
.pb-1   {padding-bottom:1em;}
.pt-1   {padding-top:1em;}

//Border Radius
.br-025 {border-radius: 0.25em;}
.br-05  {border-radius:0.5em;}
.br-1   {border-radius:1em;}

//Font sizes
.fs-09 {font-size:0.9em;}
.fs-13 {font-size:1.3em;}

//Text Alignment
.text-left { text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

//Text Transformations
.bold {font-weight:bold;}
.italic {font-style:italic;}
.underline {text-decoration: underline;}

//Other Text Changes
.white {color: #fff;}

.item-input {
    font-size:1em;
    ::placeholder {
        font-size:1em;
    }
}

ion-header {
    ion-toolbar.ion-color {
        transition: --ion-color-base 0.3s;
        //border-bottom: 2px solid var(--ion-color-contrast);
    }

    &.header-md:after {
        display:none;
    }
}

ion-item {
    &.oddItem {
        --background: #efefef;
    }
}

.no-data {
    opacity: 0.5;
    font-size:5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comp-spinner {
    position:relative;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 5vh;
    height: 10vh;
    width: 10vh;
}

.description-modal {
    .modal-wrapper {
        width: 80%;
        height: 344px;
        border-radius: 4px;
    }
}

.wallet-modal {
    .modal-wrapper {
        width:80%;
        height: 400px;
        border-radius: 4px;
    }
}

.ion-box-shadow {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}

.input-clear-icon {

    &.sc-ion-input-md, &.sc-ion-input-ios {
        margin-right: 10px;
    }
}

.localPopup {
    bottom: 32px !important;
    left: -109px !important;

    .leaflet-popup-content {
        min-width: 200px;
        margin: 0.5em;
        white-space: normal;
        font-size: 0.8em;
        
        ion-item {
            --min-height: 40px;
            ion-label {
                font-size: 0.8em;
                margin: 0;
                white-space: normal;
            }
            ion-icon {
                margin-right: 10px;
            }
        }
    }
}