ion-content {
    height: 120px;
    --background: transparent;
    width: 100%;
}

.ion-md-spinner {
    max-height:40px;
    height:40px;
    width:40px;
    border-radius: 20px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
    margin:0 auto;
    background: var(--ion-color-light);
    overflow: hidden;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
    margin-top:66px;
    position: relative;
    left: -28px;

    &.hidden {
        max-height: 0;
        width: 0;
    }

    svg {
        color: var(--ion-color-highlight);
        margin:5px;

        &.running {
            animation: 1s linear 0s infinite normal none running rotate-refresher;
            animation-duration: 750ms;
        }

        circle {
            fill: transparent;
            stroke-width: 4px;
            stroke-dasharray: 128px;
            stroke-dashoffset: 82px;
            stroke: currentcolor;
        }
    }

    @keyframes rotate-refresher {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(1turn);}
    }
}